$light-theme-color: #0079ff;
$dark-theme-color: #7979f6;
// ===============================
$light-theme-bg: #f7f8ff;
$dark-theme-bg: #16181d;
$light-theme-inner-bg: #fff;
$dark-theme-inner-bg: #20232a;
// ===============================
$shadow-color: #ccc;
