@import '../../styles/vars.scss';

[class$='__container'] {
  max-width: 730px;
  padding: 0 15px;
  margin: 0 auto;
}

.light-theme {
  color: #c5c5c5;
  background-color: $light-theme-bg;
}

.dark-theme {
  background-color: $dark-theme-bg;
}

.light-theme,
.dark-theme {
  transition: all 0.2s ease-in-out 0s;
}

// ======================================================================

.app {
  min-height: 100vh;
}

// =========================== Dark theme styles ===============================

.app.dark-theme {
  .logo {
    color: $light-theme-inner-bg;
  }

  .header__theme-btn {
    border: 1px solid $dark-theme-color;
    color: $dark-theme-color;

    &:hover {
      color: $light-theme-inner-bg;
      background-color: $dark-theme-color;
    }
  }

  .search__form {
    box-shadow: 0 0 15px $shadow-color;
    color: $dark-theme-inner-bg;
    background-color: $dark-theme-inner-bg;
  }

  .search__input {
    color: $light-theme-inner-bg;

    &:focus {
      outline: none;
      border-bottom: 2px solid $dark-theme-color;
    }
  }

  .error__inner,
  .skeleton__inner {
    background-color: $dark-theme-inner-bg;
  }

  .error__message,
  .skeleton__title {
    color: $dark-theme-color;
  }

  .search__btn {
    background-color: $dark-theme-color;
  }

  .users__list {
    background-color: $dark-theme-inner-bg;
  }

  .users__list-item {
    &:hover {
      background-color: $dark-theme-color;
    }

    &:hover .users__login {
      color: $light-theme-inner-bg;
    }
  }

  .users__login {
    color: $dark-theme-color;
  }

  .users__id {
    color: $light-theme-inner-bg;
  }

  .user-info__wrapper {
    background-color: $dark-theme-inner-bg;
  }

  .user-info__name {
    color: $light-theme-inner-bg;
  }

  .user-info__login {
    color: $dark-theme-color;
  }

  .user-info__link {
    color: $dark-theme-color;
  }
}
