@media (max-width: 390px) {
  .search__input {
    font-size: 16px;
  }

  .search__btn {
    padding: 10px;
  }
}

@media (max-width: 321px) {
  .search__input {
    font-size: 14px;
  }

  .search__btn {
    padding: 7px;
  }
}
